@import '../../style/layout';
@import '../../style/colors';

//----- logo start -----//

.logo-nav-bg {

  width: 100%;
  height: $logoNavHeight;
  line-height: $logoNavHeight;
  background-color: $logoBgColor;
  position: absolute;
  top: 0;
  left: 0;

}

.logo-nav {

  @include layoutMaxWidth;

}

.logo-nav-left {

  float: left;

  .logo-nav-title {
    font-size: 16px;
  }

}

//----- 右侧导航start -----//
.logo-nav-right {

  float: right;
  height: $logoNavHeight;

  .logo-nav-li {
    float: left;
    height: 16px;
    line-height: 14px;
    margin-top: 12px;
    padding: 0 10px;
    border-right: 1px solid #999999;

    &:last-child {
      border-right: 0;
    }

  }

  .logo-nav-li-btn {
    font-size: 12px;

    &:hover {
      color: $logoBtnActiveColor;
    }

  }

  .btn-active {
    color: $logoBtnActiveColor;
    margin-left: 5px;
  }

}
//----- 右侧导航end -----//

//----- logo end -----//
