
$layoutMinWidth: 990px;

// 中心内容最大宽度

@mixin layoutMaxWidth {

  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 1600px) {
    max-width: 1200px;
  }

  @media screen and (max-width: 1610px) {
    max-width: 990px;
  }
}

//----- logoNav start -----//

$logoNavHeight: 40px;

//----- logoNav end -----//
