@import '../../../style/layout.scss';
@import '../../../style/colors';
//----- 详情页start -----//

.detail-layout {

  min-height: 100%;
  @include layoutMaxWidth;

}

.detail-img {

  float: left;

}

.detail-content {

  float: left;
  padding: 24px 50px 0;
  box-sizing: border-box;

  .detail-content-title {
    font-size: 18px;
    line-height: 26px;
    padding: 10px 0;
  }

  .detail-content-group {
    padding: 6px 0;
    line-height: 20px;
  }

  .detail-content-tag {
    margin-right: 10px;
  }

  .num-tag {
    float: left;
  }

  .detail-content-price {
    font-size: 18px;
    color: $activeColor;
  }

  .detail-content-num-btn {
    float: left;
    box-sizing: border-box;
    border: 1px solid #eee;
    width: 30px;
    height: 30px;

    &:hover {
      border: 1px solid #999999;
    }

  }

  .detail-content-num-input {
    float: left;
    width: 40px;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  .detail-content-market-btn {
    padding: 10px;
    color: $activeColor;
    border: 1px solid $activeColor;
    margin-top: 20px;

    &:hover {
      color: #fff;
      background-color: $activeColor;
    }

  }

}

//----- 详情页end -----//